.Paginator {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 5px 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.activeButton {
  background-color: #512689;
  color: #fff;
}

